.tips {
    margin: 12px;
    padding: 10px;
    /* blur */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}

.tips li {
    margin-bottom: 10px;
}

.tips a {
    font-weight: 500;
    text-decoration: underline yellow 2px solid;
}

.tips a:visited {
    color: #00337F;
}

.tips h3 {
    margin-top: 20px;
}

/* ================================= MEDIA QUERIES ============================ */

/* min 600px */
@media screen and (min-width: 600px) {
    .tips {
        margin: 25px;
        padding: 20px;
    }

    .tips h3 {
        margin-top: 25px;
    }
}

/* 720px */
@media screen and (min-width: 720px) {
    .tips {
        padding: 25px;
        margin: 30px;
    }
}

/* big screens */
@media screen and (min-width: 1024px) {
    .tips {
        margin: 30px;
        flex: 2;
    }

    .tips h3 {
        margin: 0;
        font-weight: 600;
        margin-top: 40px;
    }

    .tips a {
        font-weight: 500;
        text-decoration: underline yellow 2px solid;
    }

    .tips a:visited {
        color: #00337F;
    }

    .tips li {
        margin-bottom: 25px;
    }
}

/* 1400px */
@media screen and (min-width: 1400px) {
    .tips {
        margin: 45px;
    }
}

/* 1520px */
@media screen and (min-width: 1520px) {
    .tips {
        margin: 55px;
    }
}

/* 1640px */
@media screen and (min-width: 1640px) {
    .tips {
        margin: 60px;
    }
}

/* 1800px */
@media screen and (min-width: 1800px) {
    .tips {
        margin: 70px;
    }

    .tips h3 {
        margin-bottom: 26px;
        margin-top: 45px;
    }
}