.tips {
    padding: 40px 30px;
    width: 50%;
    margin: 70px;
    /* blur */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}

.tips h3 {
    margin: 0;
    font-weight: 600;
    margin-top: 40px;
}

.tips a {
    font-weight: 500;
    text-decoration: underline yellow 2px solid;
}

.tips a:visited {
    color: #00337F;
}

.tips li {
    margin-bottom: 15px;
}

/* mobile phones: 600px */
@media screen and (max-width: 600px) {
    .tips {
        padding: 20px;
        width: 87%;
        margin: auto;
        margin-bottom: 20px;
    }

    .tips h3 {
        margin-top: 20px;
    }

    .tips li {
        margin-bottom: 10px;
    }
}