.tips {
    padding: 0 10px;
}

.tips li {
    margin-bottom: 1em;
}

.tips ul {
    margin-bottom: 2em;
}

.tips a {
    font-weight: 500;
    border-bottom: var(--yellow) 2px solid;
    text-decoration: none;
}

.tips a:visited {
    color: var(--blue);
}

@media screen and (min-width: 800px) {
    .tips {
        /* blur */
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 #1f26875e;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 5px;
        margin: 12px;
        margin-top: 0;
        padding: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .tips {
        flex: 1;
        margin: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .tips {
        margin: 16px;
        padding: 16px;
    }
}

@media screen and (min-width: 1400px) {
    .tips {
        margin: 20px;
        padding: 20px;
    }
}

@media screen and (min-width: 1520px) {
    .tips {
        margin: 25px;
        padding: 25px;
    }
}