.otherContacts {
    background-color: var(--blue);
    color: white;
    padding: 2em 5px;
    margin-bottom: 4em;
}

.otherContacts h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 1.8em;
}

.otherContacts .parent {
    display: flex;
    flex-direction: column;
}

.otherContacts .parent .childDiv {
    background-color: white;
    color: black;
    height: 13em;
    width: 15em;
    margin: auto;
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 2px;
}

.otherContacts .parent .tel {
    margin-bottom: 2.5em;
}

.childDiv p {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 500;
}

.childDiv h3 {
    font-size: 1em;
    font-weight: 700;
}

.otherContacts .parent .ussd h3 {
    margin-bottom: 1.5em;
}


/* =========================== MEDIA QUERIES ===================== */

@media screen and (min-width: 600px) {
    .otherContacts .parent {
        flex-direction: row;
    }

    .otherContacts .parent .tel {
        margin-bottom: 0;
    }

    .otherContacts .parent .ussd h3 {
        margin-bottom: 3.1em;
    }
}

@media screen and (min-width: 800px) {
    .otherContacts {
        padding: 3.4em 5px;
    }

    .otherContacts .parent {
        margin: 0 3em;
    }
}

@media screen and (min-width: 900px) {
    .otherContacts {
        padding: 3.4em 5px;
        width: 85%;
        margin: auto;
        margin-bottom: 4em;
    }

    .otherContacts .parent {
        margin: 0 4em;
    }
}

@media screen and (min-width: 1024px) {
    .otherContacts {
        width: 62%;
    }
}

@media screen and (min-width: 1320px) {
    .otherContacts {
        width: 54%;
    }
}

@media screen and (min-width: 1620px) {
    .otherContacts {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .otherContacts {
        width: 45%;
    }
}

@media screen and (min-width: 1870px) {
    .otherContacts {
        width: 40%;
    }
}