.otherContacts {
    background-color: #00337F;
    border-radius: 4px;
    margin-bottom: 50px;
    padding: 40px 0;
}

.otherContacts h2 {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 25px;
}

.parent {
    display: flex;
    place-content: center;
}

.childDiv {
    background-color: white;
    width: 155px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tel {
    margin-right: 16px;
}

.tel p {
    margin: 0;
}

.childDiv h3 {
    font-size: 13px;
}


/* ================================= MEDIA QUERIES ============================ */

/* 420px - 500px */
@media screen and (min-width: 420px) and (max-width: 500px) {
    .tel {
        margin-right: 50px;
    }
}

/* 500px - 540px */
@media screen and (min-width: 500px) and (max-width: 540px) {
    .tel {
        margin-right: 50px;
    }
}

/* 540px - 600px */
@media screen and (min-width: 540px) and (max-width: 600px) {
    .tel {
        margin-right: 50px;
    }
}

/* min 600px */
@media screen and (min-width: 600px) {
    .otherContacts {
        padding: 50px 0;
    }

    .otherContacts h2 {
        margin-bottom: 35px;
    }

    .childDiv {
        width: 200px;
        height: 200px;
    }

    .childDiv h3 {
        font-size: 1em;
    }

    .tel {
        margin-right: 60px;
    }
}

/* big screens */
@media screen and (min-width: 1024px) {
    .otherContacts {
        margin-bottom: 60px;
        width: 48%;
        margin: auto;
    }

    .otherContacts h2 {
        margin-bottom: 50px;
    }

    .childDiv {
        width: 280px;
        height: 230px;
    }

    .tel {
        margin-right: 80px;
    }

    .otherContacts p {
        font-weight: 500;
    }
}