.statusCard {
    width: 280px;
    height: 200px;
    border-radius: 5px;
    position: fixed;
    top: 1%;
    right: 0.5%;
    z-index: 1;
    background: linear-gradient(to bottom right, #00337F, #0299CE);
    /* backdrop-filter: blur(40px); */
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statusCard .emailIcon {
    height: 90px;
    width: 90px;
    color: #2EE746;
}

.noDisplay {
    display: none;
}

.statusCard p {
    font-weight: 500;
    text-align: center;
}

.errIcon {
    color: red;
    height: 90px;
    width: 90px;
}