form {
    width: calc(100% - 40% - 50px - 150px);
    background-color: white;
    padding: 40px 80px;
}

input, textarea {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

input {
    height: 25px;
}

textarea {
    height: 200px;
    font-size: 13px;
}

.sendButton {
    height: 50px;
    background-color: dodgerblue;
    margin: auto;
    width: 60%;
}