form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 2px;
    overflow: hidden;
}

input,
textarea {
    border: 1px solid rgb(39, 39, 39, 0.8);
    border-radius: 5px;
    outline: none;
    width: 94%;
    font-size: 1em;
}

input {
    height: 3em;
    padding: 0 10px;
}

textarea {
    height: 10em;
    padding: 7px 10px;
    font-family: 'Roboto', sans-serif;

}

.inpContainer {
    margin-bottom: 1em;
    position: relative;
    width: 96%;
}

.labels {
    position: absolute;
    top: 30%;
    left: 5px;
    padding: 0 5px;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.85);
}

input {
    &:focus {
        border: 1px solid rgba(2, 152, 207, 0.9);
        outline: none;

        ~.labels {
            background-color: white;
            color: #0299CE;
            font-size: 75%;
            top: -8px;
        }
    }
}

input:not(:placeholder-shown)~.labels {
    top: -8px;
    font-size: 75%;
    background-color: white;
    color: #0299CE;
}

.msgLabel {
    position: absolute;
    top: 7px;
    left: 5px;
    transform: translateY(0%);
    transition: 0.4s ease all;
    pointer-events: none;
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.85);
}

textarea:focus {
    border: 1px solid rgba(2, 152, 207, 0.9)
}

textarea:focus+.msgLabel,
textarea:valid+.msgLabel {
    color: #0299CE;
    background-color: white;
    top: -7px;
    font-size: 75%;
}

.sendButton {
    height: 3.5em;
    font-size: 1em;
    background: linear-gradient(to right, #00337F, #0299CE);
    border: none;
    width: 11em;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: 500;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0;
    display: flex;
    align-self: end;
    margin-right: 1%;
}

.sendButton:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


/* =========================== MEDIA QUERIES ===================== */

@media screen and (min-width: 450px) {
    .inpContainer {
        width: 97%;
    }

    input,
    textarea {
        width: 96%;
    }

    .sendButton {
        margin-right: 2%;
    }
}

@media screen and (min-width: 600px) {

    input,
    textarea {
        width: 97%;
    }

    .inpContainer {
        width: 98%;
    }

    .sendButton {
        margin-right: 0.47%;
    }
}

@media screen and (min-width: 800px) {
    .sendButton {
        margin-right: 1%;
    }
}

@media screen and (min-width: 900px) {

    input,
    textarea {
        width: 98%;
    }

    .inpContainer {
        width: 99%;
    }

    .sendButton {
        margin-right: 0.1%;
    }
}

@media screen and (min-width: 1024px) {
    form {
        flex: 1;
        padding: 1.5em 10px;
    }

    input,
    textarea {
        width: 96%;
    }

    .inpContainer {
        width: 99%;
    }
}

@media screen and (min-width: 1200px) {
    form {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1520px) {
    form {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sendButton {
        margin-right: 0.4%;
    }
}

@media screen and (min-width: 1620px) {
    form {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1728px) {
    form {
        padding-left: 40px;
        padding-right: 40px;
    }

    .sendButton {
        margin-right: 0.9%;
    }
}

@media screen and (min-width: 1900px) {
    form {
        padding-left: 45px;
        padding-right: 45px;
    }
}