.formSection {
    height: 80vh;
    background: linear-gradient(to bottom right, #F9C903, #0299CE, #00337F);
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    border-radius: 4px;
}

/* mobile phones: 600px */
@media screen and (max-width: 600px) {
    .formSection {
        display: block;
        width: 100%;
        padding-top: 20px;
        height: fit-content;
    }
}