.formSection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #F9C903, #0299CE, #00337F);
    height: fit-content;
    border-radius: 4px;
    margin-bottom: 50px;
}

/* ================================= MEDIA QUERIES ============================ */

/* big screens */
@media screen and (min-width: 1024px) {
    .formSection {
        height: 80vh;
        background: linear-gradient(to bottom right, #F9C903, #0299CE, #00337F);
        display: flex;
        width: 80%;
        margin: auto;
        margin-bottom: 60px;
        border-radius: 4px;
    }
}