.formSection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #F9C903, #0299CE, #00337F);
    height: fit-content;
    border-radius: 4px;
    margin-bottom: 50px;
}

/* ================================= MEDIA QUERIES ============================ */

/* big screens */
@media screen and (min-width: 1024px) {
    .formSection {
        height: 92vh;
        background: linear-gradient(to bottom right, #F9C903, #0299CE, #00337F);
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 60px;
        border-radius: 4px;
        width: 97%;
    }
}

/* 1200px */
@media screen and (min-width: 1200px) {
    .formSection {
        width: 90%;
    }
}

/* 1640px */
@media screen and (min-width: 1640px) {
    .formSection {
        width: 85%;
    }
}

/* 1800px */
@media screen and (min-width: 1800px) {
    .formSection {
        width: 80%;
    }
}