:root {
  --yellow: #F9C903;
  --blue: #00337F;
}

.App {
  padding: 10px;
}

/* ================================= MEDIA QUERIES ============================ */
@media screen and (min-width: 1024px) {
  .App {
    padding: 15px;
  }
}

@media screen and (min-width: 1620px) {
  .App {
    padding: 25px;
  }
}