.App {
  padding: 10px;
}

/* ================================= MEDIA QUERIES ============================ */

/* min 600px */
@media screen and (min-width: 600px) {
  .App {
    padding: 15px;
  }
}

/* big screens */
@media screen and (min-width: 1024px) {
  .App {
    padding: 0 20px;
    padding-top: 30px;
  }
}