body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(214, 214, 214);
}

code {
  font-family: Menlo, Monaco, Consolas, monospace;
}

html {
  scroll-behavior: smooth;
}

/* mobile phones: 600px */
@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
}